.dice {
	width: 90px;
	height: 90px;
	border-radius: 10px;
	background-color: #efe5dc;
	box-shadow: 1px 4px 4px #101010;
}

.dice {
	position: absolute;
	transform: translateY(-2.5px);
}

.dice-container {
	width: 90px;
	height: 90px;
	margin: 10px;
}

.dice-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: #000;
	box-shadow: 0 2px 2px #888;
}

.one {
	margin: 35px;
}

.two,
.three,
.four,
.five,
.six {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
}

.two {
	justify-content: space-around;
	align-items: center;
}

.three {
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.four,
.five,
.six {
	flex-wrap: wrap;
	justify-content: space-around;
}

.four {
	align-items: space-around;
	justify-items: space-around;
}

.four .dot {
	margin: 10px;
}

.five {
	align-items: space-between;
	justify-items: space-around;
}

.five .dot {
	margin: 6px;
	align-self: center;
}

.six {
	flex-direction: column;
	align-items: center;
}

.six .dot {
	margin: 5px;
}

.center-dot {
	position: absolute;
	left: 30px;
	top: 30px;
}

.hidden {
	display: none;
}

@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1440deg);
	}
}

.roll {
	animation-name: roll;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.56, 0.03, 0.48, 1.43);
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeIn,
.fadeOut {
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.fadeIn {
	animation-name: fadein;
}

.fadeOut {
	animation-name: fadeout;
}
